body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #f3f5f9;
  margin: 0px;
}

li {
  list-style-type: none;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 31px;
}

.background {
  background-image: url("../images/header/header-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1920px) {
  .background {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo_first_block {
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f3f5f9;
}

.logo_second_block {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 10px;
  margin-left: -4px;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: #f3f5f9;
  border: 3px solid #f3f5f9;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 170px;
  padding: 0px;
}

.header_item {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 55px;
  border-bottom: 2px solid transparent;
}

.header_item:hover {
  cursor: pointer;
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
}

.header_item.is_active {
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 203px;
}

.hero_second_title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}

.hero_title {
  margin-top: 0px;
  margin-bottom: 42px;
  font-family: "Open Sans", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}

.figure .line {
  width: 80px;
  height: 1px;
  background-color: #f3f5f9;
  border: 1px solid #f3f5f9;
}

.figure .circle {
  width: 7px;
  height: 7px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: #e74e3e;
  border-radius: 50%;
}

.hero_text_wrapper {
  max-width: 580px;
}

.hero_text {
  margin-top: 0px;
  margin-bottom: 68px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.7;
}

.hero_button {
  width: 225px;
  height: 56px;
  margin-left: 30px;
  margin-bottom: 210px;
  background-color: transparent;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #f3f5f9;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #f3f5f9;
}

.hero_button:hover {
  background-color: #e74e3e;
  border: 0px solid transparent;
}

.hero_button:first-child {
  margin-left: 0px;
}

.hero_slider_arrow {
  position: absolute;
  top: 100px;
  right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  background-color: #e74e3e;
}

.blog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_ankor_logo {
  position: absolute;
  top: -35px;
  width: 74px;
  height: 74px;
  background-color: rgba(244, 245, 249, 0.25);
  border-radius: 50%;
}

.ankor_logo {
  margin-top: 5px;
  margin-left: 5px;
  width: 64px;
  height: 64px;
  background-color: #f3f5f9;
  background-image: url("../images/blog/ankor.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.blog_title {
  margin-top: 67px;
  margin-bottom: 0px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #f3f5f9;
  color: #6a6a6a;
}

.blog .figure .line {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #999999;
  border: 1px solid #999999;
}

.blog .figure .circle {
  margin-top: 25px;
}

.blog_text {
  margin-top: 32px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #999999;
}

.blog_item_img {
  max-width: 480px;
}

.blog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  margin: 0px;
  padding: 0px;
}

.blog_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e74e3e;
}

.blog_item_text {
  position: relative;
  max-width: 431px;
  padding-left: 49px;
}

.blog_item_text_triangle_to_left {
  position: absolute;
  top: 50%;
  left: -26px;
}

.blog_item_text_triangle_to_right {
  position: absolute;
  top: 50%;
  right: -26px;
  width: 28px;
}

.blog_item_text_category {
  margin-top: 71px;
  margin-bottom: 32px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.blog_item_text_title {
  position: relative;
  margin-top: 0px;
  margin-bottom: 73px;
  font-family: "Source Sans Pro";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.blog_item_text_title::after {
  content: " ";
  position: absolute;
  top: 48px;
  left: 0;
  width: 44px;
  height: 4px;
  background-color: #f3f5f9;
}

.blog_item_text_text {
  margin-top: 0px;
  margin-bottom: 55px;
  margin-right: 51px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
}

.blog_item_text_link {
  margin: 0px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 0.75;
  font-weight: 600;
  font-style: italic;
}

.stats .container {
  padding-top: 143px;
  padding-bottom: 143px;
}

.stats {
  background-image: url("../../images/stats/stats-background.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (min-width: 1920px) {
  .stats {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.stats_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.stats_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 147px;
}

.stats_item:last-child {
  margin-right: 0px;
}

.stats_img_wrapper {
  margin-bottom: 49px;
  position: relative;
  width: 111px;
  height: 111px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.stats_img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.stats_quantity {
  margin-top: 0px;
  margin-bottom: 10px;
}

.stats_name {
  margin-top: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.pricing .container {
  padding-top: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing_title {
  margin: 0px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #6a6a6a;
}

.pricing_text {
  margin-top: 29px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 29px;
  font-weight: 400;
  color: #999999;
}

.pricing .figure {
  margin-top: 28px;
  margin-bottom: 0px;
}

.pricing_list {
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing_item {
  position: relative;
  background-color: #999999;
  margin-right: 16px;
}

.pricing_item:last-child {
  margin-right: 0px;
}

.pricing_item:hover {
  background-color: #e74e3e;
}

.pricing_item:hover .pricing_price {
  color: #e74e3e;
}

.pricing_item:hover .pricing_item_button {
  background-color: #e74e3e;
}

.pricing_item_title {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 136px;
  padding-left: 133px;
  padding-right: 133px;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #f3f5f9;
}

.pricing_price_wrapper {
  position: absolute;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 174px;
  height: 172px;
  background-color: rgba(244, 245, 249, 0.25);
  border-radius: 50%;
}

.pricing_price_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 153px;
  height: 152px;
  background-color: #f3f5f9;
  border-radius: 50%;
}

.pricing_price {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0px;
  font-family: "Source Sans Pro";
  font-size: 39.6px;
  line-height: 21px;
  font-weight: 700;
  color: #999999;
}

.pricing_cost {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0px;
  font-family: "Source Sans Pro";
  font-size: 13.2px;
  line-height: 21px;
  font-weight: 700;
  color: #999999;
}

.pricing_item_text {
  width: 100%;
  margin: 0px;
  padding-top: 125px;
  padding-bottom: 144px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  color: #999999;
  background-color: #f3f5f9;
}

.pricing_item_button {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #f3f5f9;
  width: 145px;
  height: 46px;
  background-color: #999999;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  padding-bottom: 385px;
  background-image: url("../../images/team/team-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1920px) {
  .team {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.team_title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #f3f5f9;
}

.team_text {
  margin-top: 29px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 29px;
  font-weight: 400;
  color: #f3f5f9;
}

.team .figure {
  margin-top: 32px;
  margin-bottom: 50px;
}

.team_list {
  position: relative;
}

.team_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 50px;
  height: 51px;
  background-color: #e74e3e;
  border: 3px solid #e74e3e;
  border-radius: 50%;
}

.team_item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.team_item:hover .team_item_image {
  opacity: 0.25;
}

.team_item:hover .team_item_name,
.team_item:hover .team_item_employment {
  opacity: 1;
}

.team_item_image {
  width: 50px;
  height: 51px;
}

.team_item_name {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 0px;
  opacity: 0;
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #e74e3e;
}

.team_item_name::before {
  content: " ";
  position: absolute;
  top: 55px;
  left: 23px;
  width: 1px;
  height: 30px;
  background-color: #f3f5f9;
}

.team_item_employment {
  margin-top: 19px;
  margin-bottom: 0px;
  width: 200px;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #f3f5f9;
  opacity: 0;
}

.team_item {
  position: absolute;
}

.team_item.member_1 {
  top: 90px;
  left: -550px;
}

.team_item.member_2 {
  top: 45px;
  left: -280px;
}

.team_item.member_3 {
  top: 40px;
  left: -5px;
}

.team_item.member_4 {
  top: 80px;
  left: 280px;
}

.team_item.member_5 {
  top: 30px;
  left: 550px;
}

.contact {
  background-color: #f3f5f9;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 149px;
  padding-bottom: 146px;
}

.contact_title {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #f3f5f9;
  color: #6a6a6a;
}

.contact_text {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #999999;
}

.contact .figure {
  margin-top: 0px;
  margin-bottom: 67px;
}

.contact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_info_wrapper {
  padding-top: 49px;
  padding-left: 91px;
  padding-right: 125px;
  margin-right: 28px;
  background-color: #f3f5f9;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.contact_info_title {
  margin-top: 0px;
  margin-bottom: 28px;
  font-family: "Source Sans Pro";
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e74e3e;
}

.contact_info {
  margin-top: 0px;
  margin-bottom: 70px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 33px;
  padding-bottom: 97px;
  padding-left: 91px;
  padding-right: 100px;
  background-color: #f3f5f9;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.contact_form_label {
  position: relative;
}

.contact_form_input {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 29px;
  width: 464px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #999999;
  border: none;
  border-bottom: 1px solid #999999;
}

.contact_form_button {
  width: 157px;
  height: 44px;
  background-color: #e74e3e;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  color: #f3f5f9;
  border: none;
}

.footer {
  background-color: #202020;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social_media_list {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 0px;
}

.social_media_item {
  margin-right: 26px;
}

.social_media_item:hover .svg {
  fill: #e74e3e;
}

.svg {
  width: 21px;
  height: 20px;
  fill: #f3f5f9;
  opacity: 0.74;
}

.copyright {
  padding-top: 35px;
  padding-bottom: 35px;
  opacity: 0.74;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #999999;
}
/*# sourceMappingURL=main.css.map */