body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #f3f5f9;
  margin: 0px;
}

.header .container {
  display: flex;
  width: 1170px;
  padding-top: 32px;
  padding-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/header/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.logo_first_block {
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 12px;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.7);

  background-color: #f3f5f9;
}

.logo_second_block {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 10px;

  margin-left: -4px;

  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: #f3f5f9;
  border: 3px solid #f3f5f9;
}

.header_list {
  display: flex;

  margin-left: 170px;
  padding: 0px;
}

.header_item {
  list-style-type: none;

  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;

  margin-left: 55px;

  border-bottom: 2px solid transparent;
}

.header_item:hover {
  color: #ff0000;

  border-bottom: 2px solid #ff0000;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 203px;
}

.hero_second_title {
  margin-top: 0px;
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 400;
}

.hero_title {
  margin-top: 0px;
  margin-bottom: 42px;
  font-family: "Open Sans", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.figure {
  display: flex;
  align-items: center;

  margin-bottom: 42px;
}

.figure .line {
  width: 80px;
  height: 1px;
  background-color: #f1ebe7;
  border: 1px solid #f1ebe7;
}

.figure .circle {
  width: 7px;
  height: 7px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: #e74c3c;
  border-radius: 50%;
}

.hero_text_wrapper {
  max-width: 580px;
}

.hero_text {
  margin-top: 0px;
  margin-bottom: 68px;

  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #cbc6c0;
}

.hero_button {
  width: 225px;
  height: 56px;
  margin-left: 30px;
  margin-bottom: 138px;
  background-color: transparent;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #ffffff;

  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.hero_button:hover {
  background-color: #e74c3c;
  border: 0px solid transparent;
}

.hero_button:first-child {
  margin-left: 0px;
}

.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_ankor_logo {
  position: absolute;
  top: -35px;

  width: 74px;
  height: 74px;
  background-color: rgba(244, 245, 249, 0.25);

  border-radius: 50%;
}

.ankor_logo {
  margin-top: 5px;
  margin-left: 5px;
  width: 64px;
  height: 64px;

  background-color: #f4f5f9;
  background-image: url("../images/blog/ankor.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-radius: 50%;
}

.blog_title {
  margin-top: 67px;
  margin-bottom: 0px;

  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #ffffff;
  color: #6a6a6a;
}

.blog .figure .line {
  margin-top: 25px;
  display: flex;
  align-items: center;
  background-color: #999999;
  border: 1px solid #999999;
}

.blog .figure .circle {
  margin-top: 25px;
}

.blog_text {
  margin-top: 32px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #999999;
}
