.footer {
  background-color: $background-footer-color;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.social_media_list {
  margin: 0px;
  display: flex;

  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 0px;
}

.social_media_item {
  margin-right: 26px;

  &:hover {
    .svg {
      fill: $accent-color;
    }
  }
}

.svg {
  width: 21px;
  height: 20px;
  fill: $primary-color;
  opacity: 0.74;
}

.copyright {
  padding-top: 35px;
  padding-bottom: 35px;

  opacity: 0.74;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: $second-color;
}
